<h1>Evo Field Description</h1>

<h2>evo_raw_data.csv</h2>
<ul>
    <li><strong>Capture_time:</strong> request capture time</li>
    <li><strong>Fuel:</strong> fuel percentage of the vehicle</li>
    <li><strong>Id:</strong> vehicle id</li>
    <li><strong>Lat:</strong> latitude where the vehicle is parked</li>
    <li><strong>Lon:</strong> longitude where the vehicle is parked</li>
    <li><strong>Status_tag:</strong> indicates if the vehicle started a travel, ended a travel, or is parked at the moment</li>
</ul>

<h2>evo_travels.csv</h2>
<ul>
    <li><strong>Id:</strong> vehicle id</li>
    <li><strong>Start_time:</strong> travel init time</li>
    <li><strong>Start_lat:</strong> latitude in which the vehicle starts the travel</li>
    <li><strong>Start_lon:</strong> longitude in which the vehicle starts the travel</li>
    <li><strong>Fuel_start:</strong> fuel percentage in which the vehicle starts the travel</li>
    <li><strong>End_time:</strong> travel end time</li>
    <li><strong>End_lat:</strong> latitude in which the vehicle ends the travel</li>
    <li><strong>End_lon:</strong> longitude in which the vehicle ends the travel</li>
    <li><strong>Fuel_end:</strong> fuel percentage in which the vehicle ends the travel</li>
    <li><strong>duration:</strong> travel time duration, in minutes</li>
    <li><strong>distance:</strong> travel distance, in meters</li>
</ul>