<h1>Modo Field Description</h1>

<h2>API URL</h2>

<p>https://bookit.modo.coop/api/v2</p>

<h2>modo_raw_data.csv</h2>
<ul>
    <li><strong>Capture_time:</strong> request capture time</li>
    <li><strong>LocationID:</strong> id of the station</li>
    <li><strong>CarID:</strong> vehicle id</li>
    <li><strong>StartTime:</strong> Rental init timestamp</li>
    <li><strong>EndTime:</strong> Rental end timestamp</li>
    <li><strong>RequestStart:</strong> start of the API update</li>
    <li><strong>RequestEnd:</strong> end of the API update</li>
</ul>

<h2>modo_travels.csv</h2>
<ul>
    <li><strong>car_id:</strong> vehicle id</li>
    <li><strong>start:</strong> travel init timestamp</li>
    <li><strong>end:</strong> travel end timestamp</li>
    <li><strong>duration:</strong> travel duration, in minutes</li>
</ul>
